<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- mybaits核心配置文件中的标签，需要按照指定的顺序配置。
    properties?,settings?,typeAliases?,typeHandlers?,objectFactory?,
    objectWrapperFactory?,reflectorFactory?,plugins?,environments?,
    databaseIdProvider?,mappers?)"
    -->


    <!-- ${key } = value -->
    <properties resource="jdbc.properties.properties" />
    <!--environments :配置链接数据库的环境
        属性：default ，设置默认使用的环境的id。
    -->
    <!-- 设置别名。-->
    <typeAliases>
        <package name="com.atguigu.mybatis.pojo"/>
    </typeAliases>


    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <!--连接数据库的驱动类-->
                <property name="driver" value="${jdbc.driver}"/>
                <!--连接数据库的地址，ssm为操作的数据库名称 -->
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <!--引入mybaits 的映射文件 -->
    <mappers>
            <!--
                以包的方式引入映射文件，但是必须满足2个条件。
                1.mapper接口和映射文件所在的包必须一致。
                2.mapper接口和映射文件的文字必须一致，
            -->
        <package name="com.atguigu.mybatis.mapper"/>

<!--        <mapper resource = "mappers/UserMapper.xml"/>-->
    </mappers>
</configuration>