<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--配置链接数据库的环境 -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <!--连接数据库的驱动类-->
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <!--连接数据库的地址，ssm为操作的数据库名称 -->
                <property name="url" value="jdbc:mysql://localhost:3306/ssm?serverTimezone=UTC"/>
                <property name="username" value="root"/>
                <property name="password" value="abc123"/>
            </dataSource>
        </environment>
    </environments>

    <!--引入mybaits 的映射文件 -->
    <mappers>
        <mapper resource = "mappers/UserMapper.xml"/>
    </mappers>
</configuration>